<h5> STROBE STROBE STROBE </h5>

<h4>User stuff</h4>
<%= link_to "Create an account", new_user_path %> <br>
<%= link_to "View all users", users_path %> <br>

<h4> Repo stuff </h4>
<%= link_to "Make a new repo", new_repository_path %> <br>
<%= link_to "View all repos", repositories_path %> <br>