<h1 class="hero_title">
  StrobeHub
</h1>

<div class='most_popular'>
  <div class='triple_icon_nav'>
    <h2 class="home_sub_headers">Popular Mixes</h2>
    <div class="triple_icon_top">
      <i class="icon-microphone triple_icons"></i>
    </div>
    <div class="home_page_content">
      <ul>
        <% @repositories.each do |repo| %>
          <li>
            <%= link_to repo.name, repo %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='triple_icon_nav'>
    <h2 class="home_sub_headers">Popular DJ's</h2>
    <div class="triple_icon_top">
      <i class="icon-code-fork triple_icons"></i>
    </div>
    <div class="home_page_content">
      <ul>
      <% @users.each do |user| %>
        <li>
         <%= link_to user.username, user %>
        </li>
          <% end %>
      </ul>
    </div>
  </div>


  <div class='triple_icon_nav'>
    <h2 class="home_sub_headers">Popular Versions</h2>
    <div class="triple_icon_top">
      <i class="icon-group triple_icons"></i>
    </div>
    <div class="home_page_content">
    <ul>
    <% @versions.each do |version| %>
      <li>
       Repo Name: <%=link_to version.repository.name, version.repository %>
        <li>
       <%= link_to "Version by #{version.user.username}" ,repository_version_path(version.repository.id, version) %>
        </li>
    </li>
        <% end %>
    </ul>
  </div>
  </div>

</div>
