<div class="favorites">
	<h2>Favorite Versions</h2>
	<ul>
		<% if @user.favorite_versions.empty? %>
			<li>You don't have any favorites <%=link_to "Click Here", tags_path %> to find some face-melting jams!</li>
		<% else %>
			<% @user.favorite_versions.each do |version| %>
				<li class="version-name"><%= link_to "Version in Repo #{version.repository.name}", repository_version_path(version.repository, version) %> 
			<% end %>
		<% end %>
	</ul>
</div>