<div class='profile_triple_icon_nav'>
	<h3 class="profile_sub_headers" style="margin-left=-10px;">Favorites</h3>
	<div class="triple_icon_top">
    <i class="icon-star triple_icons"></i>
  </div>
	<ul>
		<% if @user.favorite_versions.empty? %>
			<% if current_user == @user %>
				<li>You don't have any favorite repos yet. <%=link_to "Click here", tags_path %> to find some face-melting jams!</li>
			<% else %>
				<li><%= @user.username %> has not favorited any repos.</li>
			<% end %>
		<% else %>
			<% @user.favorite_versions.each do |version| %>
				<li class="version-name"><%= link_to "Version in Repo #{version.repository.name}", repository_version_path(version.repository, version) %> 
			<% end %>
		<% end %>
	</ul>
</div>