<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <%= @user.followed_users.count %>
    <span>following</span>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <%= @user.followers.count %>
    <span>followers</span>
  </a>
