  <label>Created Repos</label>
  <ul>
    <% if !@user_repos.empty? %>
      <% @user_repos.each do |repo| %>
        <li><%= link_to repo.name, repo %></li>
      <% end %>
    <% else %>
      <li>You have not created any repositories, click 'Make A New Repo' to get started!</li>
    <% end %>
</ul>

<br>

  <label>Sporked Repos</label>
  <ul>
    <% if !@forked_repos.empty? %>
      <% @forked_repos.each do |repo| %>
        <li><%= link_to repo.name, repo %></li>
      <% end %>
    <% else %>
      <li>You have not sporked any repositories, click 'View All Repos' to get started! </li>
    <% end %>
  </ul>
