<h5> this is where you get to play with tracks and do all the fun stuff </h5>
<%= form_tag({ :action => :create,:controller => :tracks}, :multipart => true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag("Upload") %>
<% end %>
<div id=dropzone>
  DROPZONE
</div>
