<h5> display all the versions belonging to an individual repo </h5>

<ul>
  <% if !@versions.empty? %>
	  <% @versions.each_with_index do |version, i| %>
	  <li><%= link_to "Version #{i + 1} by #{version.user.username}", repository_version_path(@repository, version) %></li>
	  <% end %>
  <% else %>
    <%= link_to "Create the initial mix", new_repository_version_path %>
  <% end %>
</ul>
