<li class='track_row'>
  <div class='control_panel'>
    <div id='strobe'>Strobe</div>
    <div id='global_controls'>
      <a href="#" id="play_all">></a>
      <a href="#" id="stop_all">[ ]</a>
    </div>
    <div id='global_info'>
      <div class='minutes'>
        00:
      </div>
      <div class='seconds'>
        00.
      </div>
      <div class='milliseconds'>
        000
      </div>
      <div class='label'>
        &nbsp;sec
      </div>
    </div>
  </div>
</li>
