<li class='track_row controls'>
  <div class='control_panel'>
    <div id='strobe'>Strobe</div>
    <div id='global_controls'>
      <i class="icon-play" id="play_all"></i>
      <i class='icon-stop' id='stop_all'></i>
    </div>
    <div id='global_info'>
      <div class='minutes'>
        00:
      </div>
      <div class='seconds'>
        00.
      </div>
      <div class='milliseconds'>
        000
      </div>
      <div class='label'>
        &nbsp;sec
      </div>
    </div>
    <%= form_tag(favorites_path, :method => 'post', :remote => true, :class => "favorite") do %>
      <%= hidden_field_tag "version_id", @version.id %>
      <%= submit_tag "Favorite", {class:'favorite_button'} %>
    <% end %>
    <a class='show_hide' style='display:none' href="#">
      edit
    </a>
    <a class='show_hide' href="#">
      hide
    </a>
  </div>
</li>
