<li>
  <div id="dropzone">
    <h1><a href="/" class='add_track'>DROP A BEAT </a></h1>
    <%= form_tag({ :action => :create,:controller => :tracks}, :id =>"song_upload", :multipart => true) do %>
      <%= file_field_tag :file %>
      <%= submit_tag("Upload") %>
    <% end %>
  </div>
</li>
