<div id="container">
  <ul>
    <%= render 'editor/controls' %>
  </ul>
  <div id="track_display">
    <ul id="track_list">
      <%= render 'editor/scroll' %>
    </ul>
    <ul>
      <%= render 'editor/dropzone' %>
    </ul>
  </div>
</div>

<%= render 'editor/track_template' %>
