<li class='track_row thin'>
  <div class='scroll_control thin'>
    scroll:
  </div>
  <div class='scroll_container thin'>
    <div class="scrollbar">
    </div>
  </div>
  <div class='scroll_info thin'>
    &nbsp;view: <span class='scroll_time'>
      <span class='minutes'>
        00:
      </span>
      <span class='seconds'>
        00.
      </span>
      <span class='milliseconds'>
        000
      </span>
      &nbsp;sec
    </span>
  </div>
</li>
