@font-face{
  font-family:'DS-Digital';
  src:url('DS-DIGI.TTF');
}

body{
  padding:0;
  margin:0;
  color:white;
  font-family:"BebasNeue", sans-serif;
}

h1, h2, h3 {
  font-family:'DS-Digital';
  padding:0;
  margin:0;
  font-weight:normal;
}

.content h1 {
  color: #F61595;
}

h1 {
  font-size:60px;
}

h2 {
  font-size:40px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover {
  color: #39FF14;
}

ul {
  padding:0;
  margin:0;
}

li {
  list-style:none;
}

#container {
  font-family:'DS-Digital';
}
.repo_list {
  float:left;
  width:500px;
}


.user_list {
  float:right;
  width:500px;
}

.content {
  width:1000px;
  margin: 0px auto;
  background-color: rgba(44,44,44,0.8);
  height:100vh;
}

.left_nav{
  position: fixed;
  left:0;
  top:0;
  padding-left:20px;
  height:100%;
  width:150px;
  background-color: #2c2c2d;
}

.user_widget{
  margin:0 auto;
  position:absolute;
  bottom: 20px;
}

img.gravatar {
  border-radius:10px;
}

.track_row {
  border: 1px solid #2E507F;
  padding: 0px;
  margin: 0px auto;
  width: 900px;
  height: 60px;
  list-style: none;
}


#strobe {
  color:#F61595;
  font-size: 60px;
  font-weight:10px;
  margin-right:50px;
}

.control_panel a {
  font-size: 50px;
  color:#39FF14;
  font-weight:900;
}

#global_info {
  border: 3px solid #04A3FE;
  padding-left: 10px;
  color: #04A3FE;
  font-size: 40px;
  width: 200px;
  height: 40px;
  margin-top:7px;
  margin-left: 20px;
}

#global_info .label {
  font-size:20px;
  margin-top:10px;
}

#add_track{
  float:right;
  margin-right:10px;
  font-size: 40px;

}
#stop_all {
  font-size: 40px;
}

.progress_bar {
  border: 1px solid red;
  width: 0px;
  height: 60px;
  position:absolute;
  left:0;
}

.track_row div {
  height: 60px;
  float:left;
}

.track_window, .scroll_container {
  border-left: 1px solid #2E507F;
  border-right: 1px solid #2E507F;
  padding: 0px;
  margin: 0px;
  width: 600px;
  overflow:hidden;
  background-color: #A9CCFF;
  position:relative;
}

.scroll_info {
  color: #04A3FE;
}

.track_line {
  position:absolute;
  background-color: #262A43;
}

.track_controls, .scroll_control {
  width: 150px;
  color: white;
  background-color: #4A7FCC;
}


.track_info {
  width:148px;
  font-size: 12px;
  color: white;
  background-color:#55667F;
}

.scrollbar {
  background-color: red;
}


.audio_clip {
  background-color: #CC6236;
  height: 60px;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  left: relative;
}

.control_panel {
  width:900px;
  height:160px;
}

div.thin, li.thin {
  height:20px;
  background-color: none;
}

#dropzone {
  width: 890px;
  height: 100px;
  border: 5px solid #DDD;
  padding: 0;
  margin: auto;
  text-align: center;
}

#dropzone h1 {
  font-size: 40px;
  line-height: 40px;
  padding: 0;
}

#dropzone h1 a {
  display: block;
  color: #DDD;
}

#save_version {
  float: right;
  margin-top: 60px;
}

.repo-name a {
  font-size: 20px;
  text-decoration: underline;
  color: #39FF14;
}

ul.tag-list li {
  display: inline;
}
